

body {
    font-family: 'Poppins', sans-serif;    
    background-color: #121418;
}

.borda-lateral-baixo {
    border-right: 2px solid #595B5F;
    border-bottom: 2px solid #595B5F;
}

.menu-lateral {
    font-size: 15px;
}

.borda-lateral {
    border-right: 2px solid #595B5F;
}


/* Menu Lateral */
/* Logo */
.logo {
    display:flex;
    justify-content:space-between;
    padding: 0 25px 0 20px;
}

.logo__eaglesimg {
    width:94px;
    height:94px;
}

.logo__setas {
    align-items: center;
    display:flex;
}

.logo__seta2 {
    margin-left:-10px;
}

.menu-lateral {
    padding:0;
}
.menu-principal-empresa {
    padding:0;
}

.titulo-empresa {
    display:flex;
    justify-content:space-between;
}
.titulo-empresa-engrenagem {
    width:20px;
    height:20px;
}