body {
  font-family: "Poppins", sans-serif;
  background-color: #121418;
}
.grid {
  display: grid;
  grid-template-columns: 2fr 8fr;
  gap: 25px;
}

.menu-lateral {
  font-size: 15px;

  /* position: fixed;
  top: 0;
  left: 0;*/
  /* SIDE BAR FIXA DO LADO ESQUERDO. */
  overflow-y: scroll;
  height: 100vh;
}

/* SCROLL BAR */

/* LARGURA */
::-webkit-scrollbar {
  width: 3px;
}

/* cAMINHO */
::-webkit-scrollbar-track {
  background: #272a32;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* .borda-lateral {
  /* border-right: 2px solid #272a32; */
*/

/* Menu Lateral */
/* Logo */
.menu-lateral {
  padding: 0;
}
.logo {
  display: flex;
  justify-content: space-between;
  padding: 0 25px 0 20px;
  border-bottom: 2px solid #272a32;
}

.logo__eaglesimg {
  width: 120px;
  height: 120px;
}

.logo__setas {
  align-items: center;
  display: flex;
}

.logo__seta2 {
  margin-left: -10px;
}

.menu-lateral {
  padding: 0;
}

.menu-principal {
  padding: 0;
}
.espacamento-menu-top {
  padding-top: 30px;
}

.espaco {
  margin-left: 36px;
  padding-right: 30px;
}
.titulo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titulo span {
  align-items: center;
  display: block;
}

/* PERFIL DA EMPRESA */
.items-menu {
  display: flex;
  align-items: center;
  gap: 20px;
}
.items-menu + .items-menu {
  margin-bottom: 25px;
}
.perfil {
  margin-top: 16px;
  margin-bottom: 30px;
}

.reta {
  color: #272a32;
  width: 90%;
  margin: 0 auto;
}
hr:not([size]) {
  height: 2px;
  color: #595b5f;
}

/* MAIN */
/* BOTÃO CRIAR USUÁRIOS */
.criar-usuario {
  width: 108px;
  height: 39px;
  top: 53px;
  left: 1076px;
  color: #01ffac;
  background-color: #262c33;
  font-size: 10px;
}
.criar-usuario:hover {
  opacity: 0.7;
}

.form-control {
  width: 220px;
  height: 39px;
  border-radius: 0px;
  font-size: 12px;
}

.navegador {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navegador__search {
  display: flex;
  align-items: center;
}
.barra-pesquisa {
  position: relative;
  display: flex;
  margin-right: 20px;
  border: none;
}
.barra-pesquisa__lupa {
  position: absolute;
  right: 25px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  display: block;
}

/* TABELA */
.tabela-princ {
  margin-right: 30px;  
  border-color: #272a32;
}

.color-collumn {
  color: hsl(0, 0%, 40%);
}

.linha {
  cursor: pointer;
  font-size: 14px;
}

td {
  border: 2px solid #272a32;
}

.linha:hover {
  color: #EFEFEF;
}

.items-menu:hover .items-menu-icon {
  color: #01ffac;
}

.items-menu:hover .link-light {
  color: #01ffac;
}

.items-menu-icon {
  color: #666;
  font-size: 25px;
}

.modal-pers {
  background-color: #1a1b1f;
  color: white;
}

.grid-modal {
  display: flex;
  justify-content: space-between;
}

.btn-modal {
  background: #01ffac;
  color: #272a32;
}

.btn-modal:hover {
  opacity: 0.7;
}

.modal-footer-tres {
  display: flex;
  justify-content: space-between;
}



/* HOME NOMES DO GITHUB
.estagiarios:hover .text-light {
  color: #01ffac;
}

.estagiarios:hover img {
  color: #01ffac;
} */